.btn {
    &:focus {
        outline: none;
    }

    border: 1px solid rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .6);
    background-color: transparent;
    font-size: .9em;
    padding: 1em 3em;
    text-transform: capitalize;
    border-radius: 10em;
    min-width: 160px;
    transition: background-color .1s ease-out,
                border-color .1s ease-out,
                box-shadow .1s ease-out;

    &:not(:disabled):hover {
        background-color: rgba(0, 0, 0, .6);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, .9);
        box-shadow: 0 15px 15px -10px rgba(0, 0, 0, .4);
        transition: background-color .1s ease-out,
                    border-color .1s ease-out,
                    box-shadow .1s ease-out;
    }
}