.controls {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 2em 0;

    @media only screen and (max-width: 767px) {
        padding: 1.5em 0;
    }
}