// Refactor using BEM and real SCSS syntax

html, body {
    margin: 0;
    padding: 0;
    background-color: #25211F;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
  }
  
  .controls-container {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    text-align: center;

    button {
      border: 2px solid white;
      border-radius: 4px;
      font-size: 20px;
      color: white;
      background: transparent;
      box-sizing: border-box;
      padding: 10px 20px;
      transition: background .3s ease-out,
                  color .3s ease-out;

      &:hover {
        cursor: pointer;
        background: white;
        color: black;
        transition: background .3s ease-out,
                    color .3s ease-out;
      }
    }
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .winning-combo {
    color: white;
    min-height: 20px;
  }