// Refactor using BEM and real SCSS syntax

html, body {
    margin: 0;
    padding: 0;
    background-color: #25211F;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
  }
  
  .controls-container {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    text-align: center;

    button {
      border: 2px solid white;
      border-radius: 4px;
      font-size: 20px;
      color: white;
      background: transparent;
      box-sizing: border-box;
      padding: 10px 20px;
      transition: background .3s ease-out,
                  color .3s ease-out;

      &:hover {
        cursor: pointer;
        background: white;
        color: black;
        transition: background .3s ease-out,
                    color .3s ease-out;
      }
    }
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .wrapper {
    position: relative;
    margin: 0 10px;
    perspective: 1000px;
  }
  
  .card, .card-back {
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 20px solid white;
    backface-visibility: hidden;
  }
  
  .card {
     position: relative;
     background: url('https://cdn.pixabay.com/photo/2016/12/05/13/12/pattern-1883884_960_720.jpg');
     background-size: cover;
    transform: rotate3d(0, 0, 0, -0deg);
  }

  .card-back.flip.highlight {
    box-shadow: 0 0 30px lime;
  }

  .winning-combo {
    color: white;
    min-height: 20px;
  }
  
  .card-back {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    border: 0;
    background-position: center center;
    background-size: 100% 100%;
    transform: rotate3d(0, 1, 0, 180deg);
  }
  
  .card, .card-back, .card.flip, .card-back.flip {
    transition: transform .5s ease-out;
  }
  
  .card.flip {
    transform: rotate3d(0, 1, 0, -180deg);
  }
  
  .card-back.flip {
    transform: rotate3d(0, 1, 0, -0deg);
  }
  
  .card::after, .card-back::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, .3),
        rgba(0, 0, 0, 0)
    );
  }
  
  .card::after {
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .card-back::after {
    width: 100%;
    height: 100%;
  }

  .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .loader p {
      animation: blink .5s ease-in-out alternate infinite;
  }

  @keyframes blink {
      to { opacity: .5; }
  }